<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <%= form_for(@profile, builder: TailwindInputBuilder) do |f| %>
        <div class="flex justify-end items-center w-full mb-4">
            <div>
                <!-- COPY LINK BUTTON -->
                <%= javascript_include_tag 'copy_link' %>
                <button type = "button" class="clipboard-btn" data-clipboard-text = "<%= root_url + profile_path(@profile) %>" type="button" id="btn1">Copy Link </button>
                
                <!-- PROFILE PREVIEW BUTTON -->
                <%= render 'shared/input/buttons/secondary',target: "_blank", color: "yellow", label: "Preview", href: profile_path(@profile) %>
                
                <!-- SAVE CHANGES BUTTON -->
                <%= f.submit "Save", class: "flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-green-600 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200" %><br/>
            </div>
        </div>

        <div class="items-start">
            <!-- PROFILE PICTURE HERE-->
            <%= render "shared/profile/profile_picture", image: @profile.avatar   do  %>
                    <!-- -->
            <% end %>
            <div class="flex flex-col md:flex-row md:mt-12 md:pb-8">
                <div class="md:border-r border-gray-300 w-80 text-xl font-semibold pt-12">
                    &nbsp
                    <h2 > &nbsp &nbsp &nbsp Profile picture </h2>
                </div>
            <!-- -->
                <div class="w-full md:px-8 md:pt-4">
                    <%= f.file_field :avatar  %>
                </div>
            </div>
        </div>
          
        <%= render 'shared/edit_section', title: "Profile details" do %>
            <%= f.text_field :name, value: @profile.name || current_user.name, placeholder: "Name" %><br/>
            <%= f.text_field :job_title, value: @profile.job_title, placeholder: "Job title" %><br/>
            <%= f.text_field :total_experience, value: @profile.total_experience, placeholder: "Total experience" %><br/>
            <%= f.text_area :overview, value: @profile.overview, placeholder: "Profile overview", required: true %><br/>
    
            <p>Career Highlights</p>
            <%= f.text_field :career_highlights, value: concat_str_with_comma(@profile.career_highlights), placeholder: "Career highlights" %>
            <%= render 'shared/multiple_inputs_message' %>
    
            <p>Primary Skills</p>
            <%= f.text_field :primary_skills, value: concat_str_with_comma(@profile.primary_skills), placeholder: "Primary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
            
            <p>Secondary Skills</p>
            <%= f.text_field :secondary_skills, value: concat_str_with_comma(@profile.secondary_skills), placeholder: "Secondary skills" %>
            <%= render 'shared/multiple_inputs_message' %>
        <% end %>

        <%= render 'shared/edit_section', title: "Education" do %>  
            <%= f.fields_for :educations do |education| %>
                <%= render 'shared/input/education', education: education %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Education", path: "/educations/new" %>
        <% end %>
        
        <%#= render 'shared/edit_section', title: "Project" do %>
            <%#= f.fields_for :projects do |project| %>
                <%#= render 'shared/input/project', project: project %>
            <%# end %>
            <%#= render 'shared/input/buttons/add', label: "+ Add Project", path: "/projects/new" %>
        <%# end %>

        <%= render 'shared/edit_section', title: "Experience" do %>
            <%= f.fields_for :experiences do |experience| %>
                <%= render 'shared/input/experience', experience: experience %>
                    <%= render 'shared/edit_project_section', title: "Projects" do %>
                        <%= experience.fields_for(:projects) do |project| %> 
                            <%= render 'shared/input/project', project: project %>
                        <% end %>
                    <%=  render 'shared/input/buttons/add', label: "+ Add Project", path: new_experience_project_path(experience.object.id) %>
                    <% end %>
                <br>
            <% end %>   
                <%= render 'shared/input/buttons/add', label: "+ Add Experience", path: "/experiences/new" %>
        <% end %>
        
    <% end %>

</main>