<%= render 'shared/header' %>

<main class="py-10 max-w-7xl mx-auto px-4 sm:px-8">
    <%= form_for(@profile, builder: TailwindInputBuilder) do |f| %>
        <div class="flex justify-end items-center w-full mb-4">
            <div>
                <%= f.submit "Save", class: "flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-green-600 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200" %><br/>
            </div>
        </div>
        <h1> YOUR PROFILE PICTURE </h1>
          <%= render 'shared/edit_profile_picture' %>
          
        <%= render 'shared/edit_section', title: "Profile details" do %>
            <%= render 'shared/input/profile_details' %>
        <% end %>

        <%= render 'shared/edit_section', title: "Education" do %>
            <%= f.fields_for :educations do |education| %>
                <%= render 'shared/input/education', education: education %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Education", path: "/educations/new" %>
        <% end %>

        <%= render 'shared/edit_section', title: "Project" do %>
            <%= f.fields_for :projects do |project| %>
                <%= render 'shared/input/project', project: project %>
            <% end %><br />
            <%= render 'shared/input/buttons/add', label: "+ Add Project", path: "/projects/new" %>
        <% end %>
        
    <% end %>

</main>