<%= form_for(@profile, builder: TailwindInputBuilder) do |f| %>
<%= render 'shared/edit_sub_section' do %>
    <%= f.text_field :name, value: @profile.name || current_user.name, placeholder: "Name" %><br/>
    <%= f.text_field :job_title, value: @profile.job_title, placeholder: "Job title" %><br/>
    <%= f.text_field :total_experience, value: @profile.total_experience, placeholder: "Total experience" %><br/>
    <%= f.text_area :overview, value: @profile.overview, placeholder: "Profile overview", required: true %><br/>
    
    <p>Career Highlights</p>
        <%= f.text_field :career_highlights, value: concat_str_with_comma(@profile.career_highlights), placeholder: "Career highlights" %>
        <%= render 'shared/multiple_inputs_message' %>
    
     <p>Primary Skills</p>
        <%= f.text_field :primary_skills, value: concat_str_with_comma(@profile.primary_skills), placeholder: "Primary skills" %>
        <%= render 'shared/multiple_inputs_message' %>
            
    <p>Secondary Skills</p>
        <%= f.text_field :secondary_skills, value: concat_str_with_comma(@profile.secondary_skills), placeholder: "Secondary skills" %>
        <%= render 'shared/multiple_inputs_message' %>
            
<% end %>
<% end %>
